---
http_interactions:
- request:
    method: get
    uri: https://cli-cert.emdeon.com/servlet/XMLServlet?request=%3C?xml%20version=%221.0%22?%3E%3CREQUEST%20userid=%22USER_ID%22%20password=%22PASSWORD%22%20facility=%22FACILITY%22%3E%20%20%3COBJECT%20name=%22person%22%20op=%22put_partial%22%3E%20%20%20%20%3Cbirth_date%3E10/27/1923%3C/birth_date%3E%20%20%20%20%3Cfirst_name%3EFlorenc%3C/first_name%3E%20%20%20%20%3Clast_name%3EEdward%3C/last_name%3E%20%20%20%20%3Cmiddle_name%3EE%3C/middle_name%3E%20%20%20%20%3Caddress_1%3E2401%20N%20Abram%20Rd%2086%3C/address_1%3E%20%20%20%20%3Ccity%3EMission%3C/city%3E%20%20%20%20%3Cstate%3ETX%3C/state%3E%20%20%20%20%3Csex%3EF%3C/sex%3E%20%20%20%20%3Czip%3E78572%3C/zip%3E%20%20%20%20%3Chsi_value%3Etest%3C/hsi_value%3E%20%20%20%20%3Chsilabel%3E3001763753%3C/hsilabel%3E%20%20%20%20%3Chome_phone_area_code%3E956%3C/home_phone_area_code%3E%20%20%20%20%3Chome_phone_number%3E5856449%3C/home_phone_number%3E%20%20%3C/OBJECT%3E%3C/REQUEST%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version='1.0'?><RESULT sessionid="USER_ID45c1f2587ea56aa5|45bc773a813854fd|435fd71a71171180|42dfd71a71171180|"><OBJECT
        name="person" op="put_partial"><date></date><insurance></insurance><country></country><isp_state></isp_state><providercaregiver></providercaregiver><address_1></address_1><formu_orgid></formu_orgid><address_2></address_2><birth_date></birth_date><mother_name></mother_name><county></county><guarantor></guarantor><prim_cg_lname></prim_cg_lname><lab></lab><suffix></suffix><ter_isp_address_1></ter_isp_address_1><plan_identifier></plan_identifier><ssn></ssn><leadperson></leadperson><sec_isp_city></sec_isp_city><sec_insurance></sec_insurance><sec_isp_state></sec_isp_state><ter_isp_hsi_value></ter_isp_hsi_value><work_phone_number></work_phone_number><bill_type></bill_type><lab_name></lab_name><hsi_value></hsi_value><state></state><height></height><zip></zip><placer_order_number></placer_order_number><record_date></record_date><transmission_mode></transmission_mode><weight></weight><work_phone_ext></work_phone_ext><ter_isp_name></ter_isp_name><ownerid></ownerid><person_hsi></person_hsi><payer_identifier></payer_identifier><isp_hsi_value></isp_hsi_value><person>3006473421</person><prim_cg_mname></prim_cg_mname><last_name_soundex></last_name_soundex><status></status><sec_isp_hsi_value></sec_isp_hsi_value><ter_isp_city></ter_isp_city><sec_isp_address_1></sec_isp_address_1><age_type></age_type><work_phone_area_code></work_phone_area_code><city></city><hsilabel></hsilabel><sec_isp_zip></sec_isp_zip><prim_cg_fname></prim_cg_fname><title></title><name_prefix></name_prefix><fav_pharm_name></fav_pharm_name><isp_city></isp_city><ter_insurance></ter_insurance><home_phone_number></home_phone_number><isp_address_1></isp_address_1><clearance></clearance><first_name></first_name><label_name></label_name><ter_isp_state></ter_isp_state><is_active></is_active><soundex_flag></soundex_flag><primarycaregiver></primarycaregiver><formu_groupid></formu_groupid><sex></sex><last_name></last_name><isp_zip></isp_zip><middle_name></middle_name><ter_isp_zip></ter_isp_zip><isp_name></isp_name><allergy_status></allergy_status><favorite_pharmacy></favorite_pharmacy><organization></organization><home_phone_area_code></home_phone_area_code><sec_isp_name></sec_isp_name><mothers_maiden_name></mothers_maiden_name><age></age></OBJECT></RESULT>
  recorded_at: Sat, 21 May 2022 17:21:17 GMT
recorded_with: VCR 6.0.0
