---
http_interactions:
- request:
    method: get
    uri: https://cli-cert.emdeon.com/servlet/XMLServlet?request=%3C?xml%20version=%221.0%22?%3E%3CREQUEST%20userid=%22USER_ID%22%20password=%22PASSWORD%22%20facility=%22FACILITY%22%3E%20%20%3COBJECT%20name=%22hsilabel%22%20op=%22search%22%3E%20%20%20%20%3Cis_hsi_for%3EPATIENT%3C/is_hsi_for%3E%20%20%20%20%3Cregistration%3EY%3C/registration%3E%20%20%20%20%3Corganization%3EFACILITY%3C/organization%3E%20%20%3C/OBJECT%3E%3C/REQUEST%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version='1.0'?><RESULT sessionid="USER_ID45a7eb9f27193ff1|45bf52070892a1ab|435fd708f00d1940|42dfd708f00d1940|"><OBJECT
        name="hsilabel" op="search"><hsilabel>3001763753</hsilabel><is_hsi_for>PATIENT</is_hsi_for><object_type></object_type><organization>FACILITY</organization><description>Patient
        Account Number</description><registration>Y</registration><label_name>PAN</label_name></OBJECT></RESULT>
  recorded_at: Sat, 21 May 2022 17:21:08 GMT
recorded_with: VCR 6.0.0
