---
http_interactions:
- request:
    method: get
    uri: https://cli-cert.emdeon.com/servlet/XMLServlet?request=%3C?xml%20version=%221.0%22?%3E%3CREQUEST%20userid=%22USER_ID%22%20password=%22PASSWORD%22%20facility=%22FACILITY%22%3E%20%20%3COBJECT%20name=%22objectdoc%22%20op=%22search%22%3E%20%20%20%20%3Cobject_id%3E3004834601%3C/object_id%3E%20%20%3C/OBJECT%3E%3C/REQUEST%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version='1.0'?><RESULT sessionid="USER_ID4586faf0fb8252d1|45b1979f47b8236e|435fd71313462a40|42dfd71313462a40|"><OBJECT
        name="objectdoc" op="search"><storage_date>9/11/2019 10:45 AM</storage_date><body_text></body_text><mime_type>HTML</mime_type><object_type>order</object_type><clearance>10</clearance><expiration_date></expiration_date><ownerid>FACILITY</ownerid><object_id>3004834601</object_id><objectdoc>621448196359963</objectdoc><report_date></report_date></OBJECT></RESULT>
  recorded_at: Sat, 21 May 2022 17:21:09 GMT
recorded_with: VCR 6.0.0
